@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

/* Configuração cores padrões bootstrap  v.5*/
.page-loader-wrapper {
    display: none;
}

:root {
    --header-top-height: 4.2rem;
    --menu-collapsed-width: 4.25rem;
    --menu-collapse-width: 12.5rem;
    --body-font: "Open Sans", sans-serif;
    --normal-font-size: 1rem;
    --botao-voltar-paginacao: 5vh;
    --z-fixed: 100;
    --menu-width: 150px;
    --backgroud-blue-color: #084298;
    --primary-bg-color: #0d6efd;
    --secondary-bg-color: #6c757d;
    --success-bg-color: #198754;
    --danger-bg-color: #dc3545;
    --warning-bg-color: #ffc107;
    --info-bg-color: #0dcaf0;
    --light-bg-color: #dee2e6;
    --dark-bg-color: #212529;
    --cyan-500-color: #0dcaf0;
    --sidebar-bg-color: #f8f9fa;
    --site-bg-color: #f8fafc;
    --blue-100: #E7F1FF;
    --blue-300: #6EA8FE;
    --blue-400: #3D8BFD;
    --blue-600: #0A58CA;
    --gray-400-color: #CED4DA;
    --gray-600-color: #6C757D;
    --gray-700-color: #495057;
    --gray-100-color: #F8F9FA;
    --gray-200-color: #e9ecef;
    --select-green-bg-color: #d1ebd1;
    --primary: #005CA9;
    --pink-100-color: #F7D6E6;
}

header {
    width: 100%;
    height: 5.2rem;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    --padding: 0 1rem;
    background-color: var(--primary-bg-color);
    z-index: var(--z-fixed);
    transition: 0.5s;
}

/*
menu lateral
*/


/*
--------classes de ações--------
*/
.active {
    color: var(--gray-700-color) !important;
    background-color: #a6e9d5 !important;
    border: 0;
    border-color: var(--gray-700-color) !important;
}


.display-none {
    display: none !important;
    -webkit-transition: 0.9s;
    -moz-transition: 0.9s;
    -o-transition: 0.9s;
    -ms-transition: 0.9s;
      transition: all 0.9s;
   
}

.bi-x{
    -webkit-transition: 0.7s;
      -moz-transition: 0.7s;
      -o-transition: 0.7s;
      -ms-transition: 0.7s;
        transition: all 0.7s;
        transform: rotate(-180deg);
}
.bi-list{
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    -ms-transition: 0.7s;
      transition: all 0.7s;
      transform: rotate(-360deg);
}

.bi-caret-left-fill{
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    -ms-transition: 0.7s;
      transition: all 0.7s;
      transform: rotate(-360deg);
}


/*****************/
nav {
    position: fixed;
    left: 0;
    top: 5.2rem;
    bottom: 0%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: stretch;
    width: var(--menu-collapsed-width);
    height: calc(100vh - 5.2rem);
    background-color: var(--gray-100-color);
    border-right: 2px solid #CED4DA;
    color: var(--gray-700-color);
    -webkit-transition: 0.8s;
      -moz-transition: 0.8s;
      -o-transition: 0.8s;
      -ms-transition: 0.8s;
        transition: all 0.8s;

}

nav div {
    max-width: var(--menu-collapse-width);
    min-width: var(--menu-collapsed-width);
}

nav a {
    text-decoration: none;
    width: 100%;

}


/***Header Menu lateral ***/

#headerSideBar {
    background-color: --light-bg-color;

}

#headerSideBar button {
    display: flex;
    align-items: center;
    width: 100%;
    height: 4.25rem;
    border: none;
    justify-content: space-between;
}

#headerSideBar button i {
    width: 4.25rem;
    text-align: center;
    font-size: 2rem;

}

#headerSideBar button span {
    width: 8.25rem;
    text-align: start;
    color: var(--gray-600-color);
}

/***Body Menu lateral ***/

nav #bodySideBar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    overflow-y: auto;
}

/*******************************/
.noSideBarList, .withSideBarList {
    width: 100%;


}

.noSideBarList, .withSideBarList a {
    color: var(--gray-700-color);

}

/***formatação sem drop lista ***/

.noSideBarList a {
    width: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    height: 4.25rem;
    justify-content: space-between;
    color: var(--gray-700-color);
}

.noSideBarList a i {
    width: 4.25rem;
    text-align: center;
    font-size: 24px;
}

.noSideBarList a span {
    width: 8.25rem;
    text-align: start;
}

/***formatação com drop lista ***/


.withSideBarList {
    display: flex;
    flex-direction: column;

}

.withSideBarList>a:first-child {
    display: flex;
    justify-content: space-between;
    height: 4.25rem;
    align-items: center;
}

.withSideBarList a>i:first-child {
    width: 4.25rem;
    text-align: center;
    font-size: 24px;
}

.withSideBarList a span {
    width: 8.25rem;
    display: flex;
    justify-content: space-between;
}

.withSideBarList a span>i {
    position: relative;
    margin-right: 4px;

}

.withSideBarList ul {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 0 0 0 !important;
}

.withSideBarList ul li {
    padding-top: 22px;
    display: flex;
    align-items: center;
}

.withSideBarList ul li:hover {

    background-color: var(--blue-100);

}

.withSideBarList ul li>a {
    margin-left: 24px;
    top: -0.5rem;
    position: relative;
}

.withSideBarList ul li>a:hover {
    margin-left: 28px;

}

/***footer Menu lateral ***/

#footerSideBar {
    width: 100%;


}

#footerSideBar>a {
    width: 100%;
    display: flex;
    align-items: center;
    height: 4.25rem;
    justify-content: space-between;

}

#footerSideBar a>i {
    width: 4.25rem;
    height: 4.25rem;
    text-align: center;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#footerSideBar a span {
    width: 8.25rem;
    text-align: start;
    display: flex;
    flex-wrap: wrap;
    line-height: 20px;
    color: #212529;
    font-weight: 600;
}